@using Trecom.Api.Services.Catalog.Extensions
@model List<CategoryViewModel>

<div class="menu-init" id="navigation1">

    <button class="btn btn--icon toggle-mega-text toggle-button" type="button">Kategoriler</button>

    <!--====== Menu ======-->
    <div class="ah-lg-mode">

        <span class="ah-close">✕ Close</span>

        <!--====== Categories List ======-->
        <ul class="ah-list">


            <li class="has-dropdown">

                <span class="mega-text" style="width:75px;">Kategoriler</span>

                <!--====== Mega Menu ======-->

                <span class="js-menu-toggle"></span>
                <div class="mega-menu">
                    <div class="mega-menu-wrap">
                        <div class="mega-menu-list">
                            <ul>
                                <li class="js-active">

                                    <a asp-controller="Catalog" asp-action="GetAllProducts">
                                        <i class="fas fa-tv u-s-m-r-6"></i>

                                        <span>TEKNOLOJİ</span>
                                    </a>

                                    <span class="js-menu-toggle js-toggle-mark"></span>
                                </li>

                                <li>

                                    <a asp-controller="Catalog" asp-action="GetAllProducts">
                                        <i class="fas fa-female u-s-m-r-6"></i>

                                        <span>KADIN GİYİM</span>
                                    </a>

                                    <span class="js-menu-toggle"></span>
                                </li>

                                <li>

                                    <a asp-controller="Catalog" asp-action="GetAllProducts">
                                        <i class="fas fa-male u-s-m-r-6"></i>

                                        <span>ERKEK GİYİM</span>
                                    </a>

                                    <span class="js-menu-toggle"></span>
                                </li>
                                <li>

                                    <a href="index.html">
                                        <i class="fas fa-utensils u-s-m-r-6"></i>

                                        <span>Süpermarket</span>
                                    </a>

                                    <span class="js-menu-toggle"></span>
                                </li>
                                <li>

                                    <a href="index.html">
                                        <i class="fas fa-couch u-s-m-r-6"></i>

                                        <span>Ev & Mobilya</span>
                                    </a>

                                    <span class="js-menu-toggle"></span>
                                </li>
                                <li>

                                    <a href="index.html">
                                        <i class="fas fa-football-ball u-s-m-r-6"></i>

                                        <span>Ayakkabı & Çanta</span>
                                    </a>

                                    <span class="js-menu-toggle"></span>
                                </li>
                                <li>

                                    <a href="index.html">
                                        <i class="fas fa-heartbeat u-s-m-r-6"></i>

                                        <span>Kozmetik</span>
                                    </a>

                                    <span class="js-menu-toggle"></span>
                                </li>
                            </ul>
                        </div>
                        @if (Model is not null && Model.Any())
                        {
                            var elecModel = Model.Where(x => x.Names[0].Equals("Elektronik", StringComparison.OrdinalIgnoreCase)).Distinct();
                            var manModel = Model.Where(x => x.Names[0].Equals("Erkek", StringComparison.OrdinalIgnoreCase)).Distinct();
                            var womanModel = Model.Where(x => x.Names[0].Equals("Kadın", StringComparison.OrdinalIgnoreCase)).Distinct();
                            <div class="mega-menu-content js-active">

                                <!--====== Mega Menu Row ======-->
                                @{
                                    var distinctElecNames = elecModel.Select(item => item.Names[1]).Distinct();
                                    var distinctCount = distinctElecNames.Count();
                                    if (distinctElecNames.Count() < 4)
                                    {
                                        <div class="row">
                                            <!--====== Electronics ======-->
                                            @foreach (var name1 in distinctElecNames)
                                            {

                                                <div class="col-lg-3">

                                                    <ul>
                                                        <li class="mega-list-title">
                                                            <a asp-controller="Catalog" asp-action="GetAllProducts">@name1</a>
                                                        </li>

                                                        @foreach (var item in elecModel.Where(item => item.Names[1] == name1))
                                                        {
                                                            <ul>
                                                                @foreach (var subItem in item.Names.Skip(2))
                                                                {
                                                                    <li>
                                                                        <a asp-controller="Catalog" asp-action="GetAllProducts">@subItem</a>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                            <div class="col-lg-6 mega-image">
                                                <div class="mega-banner">

                                                    <a class="u-d-block" asp-controller="Catalog" asp-action="GetAllProducts">

                                                        <img class="u-img-fluid u-d-block" src="/images/banners/banner-mega-1.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    }
                                    else if (distinctCount > 4)
                                    {

                                        for (int i = 0; i < distinctCount; i += 4)
                                        {

                                            <div class="row">
                                                <!--====== Electronics ======-->
                                                @foreach (var name1 in distinctElecNames.Skip(i).Take(4))
                                                {

                                                    <div class="col-lg-3">

                                                        <ul>
                                                            <li class="mega-list-title">
                                                                <a asp-controller="Catalog" asp-action="GetAllProducts">@name1</a>
                                                            </li>

                                                            @foreach (var item in elecModel.Where(item => item.Names[1] == name1))
                                                            {
                                                                <ul>
                                                                    @foreach (var subItem in item.Names.Skip(2))
                                                                    {
                                                                        <li>
                                                                            <a asp-controller="Catalog" asp-action="GetAllProducts">@subItem</a>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            }
                                                        </ul>
                                                    </div>
                                                }
                                                @if (i > 4 && (distinctCount-i) % 4 != 0)
                                                {
                                                    <div class="col-lg-6 mega-image">
                                                        <div class="mega-banner">

                                                            <a class="u-d-block" asp-controller="Catalog" asp-action="GetAllProducts">

                                                                <img class="u-img-fluid u-d-block" src="/images/banners/banner-mega-1.jpg" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                }
                                                

                                            </div>
                                        }

                                    }
                                }

                                }
                                <!--====== End - Electronics ======-->

                            </div>
                            <!--====== Women ======-->
                            <div class="mega-menu-content js-active">

                                <!--====== Mega Menu Row ======-->
                                @{
                                    var distinctWomanNames = womanModel.Select(item => item.Names[1]).Distinct();
                                    var distinctWomanCount = distinctWomanNames.Count();
                                    if (distinctWomanCount < 4)
                                    {
                                        <div class="row">
                                            <!--====== Electronics ======-->
                                            @foreach (var name1 in distinctWomanNames)
                                            {

                                                <div class="col-lg-3">

                                                    <ul>
                                                        <li class="mega-list-title">
                                                            <a asp-controller="Catalog" asp-action="GetAllProducts">@name1</a>
                                                        </li>

                                                        @foreach (var item in womanModel.Where(item => item.Names[1] == name1))
                                                        {
                                                            <ul>
                                                                @foreach (var subItem in item.Names.Skip(2))
                                                                {
                                                                    <li>
                                                                        <a asp-controller="Catalog" asp-action="GetAllProducts">@subItem</a>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                            <div class="col-lg-6 mega-image">
                                                <div class="mega-banner">

                                                    <a class="u-d-block" asp-controller="Catalog" asp-action="GetAllProducts">

                                                        <img class="u-img-fluid u-d-block" src="/images/banners/banner-mega-1.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    }
                                    else if (distinctWomanCount > 4)
                                    {
                                        for (int i = 0; i < distinctWomanCount; i += 4)
                                        {
                                            <div class="row">
                                                <!--====== Electronics ======-->
                                                @foreach (var name1 in distinctWomanNames.Skip(i).Take(4))
                                                {

                                                    <div class="col-lg-3">

                                                        <ul>
                                                            <li class="mega-list-title">
                                                                <a asp-controller="Catalog" asp-action="GetAllProducts">@name1</a>

                                                            </li>

                                                            @foreach (var item in womanModel.Where(item => item.Names[1] == name1))
                                                            {
                                                                <ul>
                                                                    @foreach (var subItem in item.Names.Skip(2))
                                                                    {
                                                                        <li>
                                                                            <a asp-controller="Catalog" asp-action="GetAllProducts">@subItem</a>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            }
                                                        </ul>
                                                    </div>
                                                }
                                                <div class="col-lg-6 mega-image">
                                                    <div class="mega-banner">

                                                        <a class="u-d-block" asp-controller="Catalog" asp-action="GetAllProducts">

                                                            <img class="u-img-fluid u-d-block" src="/images/banners/banner-mega-1.jpg" alt="">
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                        }
                                    }

                                }
                                <!--====== End - Electronics ======-->

                            </div>
                            <!--====== End - Women ======-->
                            <!--====== Men ======-->
                            <div class="mega-menu-content js-active">

                                <!--====== Mega Menu Row ======-->
                                @{
                                    var distinctManNames = manModel.Select(item => item.Names[1]).Distinct();
                                    var distinctManCount = distinctManNames.Count();
                                    if (distinctManNames.Count() < 4)
                                    {
                                        <div class="row">
                                            <!--====== Electronics ======-->
                                            @foreach (var name1 in distinctManNames)
                                            {

                                                <div class="col-lg-3">

                                                    <ul>
                                                        <li class="mega-list-title">
                                                            <a asp-controller="Catalog" asp-action="GetAllProducts">@name1</a>

                                                        </li>

                                                        @foreach (var item in manModel.Where(item => item.Names[1] == name1))
                                                        {
                                                            <ul>
                                                                @foreach (var subItem in item.Names.Skip(2))
                                                                {
                                                                    <li>
                                                                        <a asp-controller="Catalog" asp-action="GetAllProducts">@subItem</a>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                            <div class="col-lg-6 mega-image">
                                                <div class="mega-banner">

                                                    <a class="u-d-block" asp-controller="Catalog" asp-action="GetAllProducts">

                                                        <img class="u-img-fluid u-d-block" src="/images/banners/banner-mega-1.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    }
                                    else if (distinctManCount > 4)
                                    {
                                        for (int i = 0; i < distinctManCount; i += 4)
                                        {
                                            <div class="row">
                                                <!--====== Electronics ======-->
                                                @foreach (var name1 in distinctManNames.Skip(i).Take(4))
                                                {

                                                    <div class="col-lg-3">

                                                        <ul>
                                                            <li class="mega-list-title">
                                                                <a asp-controller="Catalog" asp-action="GetAllProducts">@name1</a>
                                                            </li>

                                                            @foreach (var item in manModel.Where(item => item.Names[1] == name1))
                                                            {
                                                                <ul>
                                                                    @foreach (var subItem in item.Names.Skip(2))
                                                                    {
                                                                        <li>
                                                                            <a asp-controller="Catalog" asp-action="GetAllProducts">@subItem</a>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            }
                                                        </ul>
                                                    </div>
                                                }
                                                <div class="col-lg-6 mega-image">
                                                    <div class="mega-banner">

                                                        <a class="u-d-block" asp-controller="Catalog" asp-action="GetAllProducts">

                                                            <img class="u-img-fluid u-d-block" src="/images/banners/banner-mega-1.jpg" alt="">
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                        }
                                    }

                                }
                                <!--====== End - Electronics ======-->

                            </div>
                            <!--====== End - Men ======-->
                            <!--====== No Sub Categories ======-->
                            <div class="mega-menu-content">
                                <h5>No Categories</h5>
                            </div>
                            <!--====== End - No Sub Categories ======-->
                            <!--====== No Sub Categories ======-->
                            <div class="mega-menu-content">
                                <h5>No Categories</h5>
                            </div>
                            <!--====== End - No Sub Categories ======-->
                            <!--====== No Sub Categories ======-->
                            <div class="mega-menu-content">
                                <h5>No Categories</h5>
                            </div>
                            <!--====== End - No Sub Categories ======-->
                            <!--====== No Sub Categories ======-->
                            <div class="mega-menu-content">
                                <h5>No Categories</h5>
                            </div>
                            <!--====== End - No Sub Categories ======-->
                        }

                        else
                        {
                            <div class="mega-menu-content">
                                <h5>Kategori Bulunamadı.</h5>
                            </div>
                        }
                    </div>
                </div>
                <!--====== End - Mega Menu ======-->
            </li>
        </ul>
        <!--====== End - List ======-->
    </div>
    <!--====== End - Menu ======-->
</div>

